@model IEnumerable<BlogWebApp.Models.BlogPosts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td onclick="location.href = '@Url.Action("Details", "BlogPosts", new { id = item.BlogPostId })'"
                style="cursor:pointer">
                    <a>@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
            </tr>
}
    </tbody>
</table>
